/* Global ====================================== START */
  * {
  }

.container-fluid {
  padding: 0;
}

  .hidden {
    display: none;
  }

  .jumbotron {
    height: 160px;
  }

  .jumbotron h1 {
    text-align: center;
    margin-top: 0;
    color: #555;
    font-weight: bold;
  }

  .main_body {
    width: 1400px;
    margin: 20px auto;
  }

.content {
  max-width: 1480px;
}
/* Global ====================================== END */


.form-wrap.form-builder .stage-wrap {
  width: 64%;
}

.form-wrap.form-builder .frmb {
  border: 3px dashed #ccc;
  background-color: hsla(0,0%,100%,.25);
  height: 800px;
  overflow: auto;
  width: 100%;
}

.form-wrap.form-builder .cb-wrap {
  width: 36%;
  height: 800px;
}

#form_objects {
  display: block;
  padding: 0;
  width: 505px;
  height: 800px;
  margin-bottom: 2px;
  overflow: auto;
}

.form_object_toggle {
  display: block;
  height: 40px;
  line-height: 40px;
  background: #d2432c;
  font-size: 14px;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #FFF;
  border-radius: 4px;
}

.form_object_toggle.active {
  background: #f15239;
}

.frmb-control {
  overflow: auto;
}

#form_objects .frmb-control li {
  display: inline-block;
  height: 30px;
  width:50%;
  padding-top: 5px;
  margin-bottom: -5px;
}

.form_object_inner {
  display: none;
  max-height": "505px";
}

.form-wrap.form-builder .form-actions {
  margin: 4px;
}

.form-wrap.form-builder .btn {
  border-radius: 6px;
  padding-left: 18px;
  padding-right: 18px;
  color: #FFF;
  margin-left: 2px;
  margin-right: 2px
}

.form-builder-dialog {
  overflow: auto;
}

.form-builder-dialog.data-dialog {
  width: 800px;
}

.selected {
  border: 2px dashed #F00;
}

.element_properties_inner {
  display: none;
  height: 200px;
  overflow: auto;
  background: #FFF;
  padding:20px;
}