/* Global ====================================== START */
  * {
  }

.container-fluid {
  padding: 0;
}

  .hidden {
    display: none;
  }

  .jumbotron {
    height: 160px;
  }

  .jumbotron h1 {
    text-align: center;
    margin-top: 0;
    color: #555;
    font-weight: bold;
  }

  .main_body {
    width: 1100px;
    margin: 20px auto;
  }
/* Global ====================================== END */

.form-wrap.form-builder .frmb {
  border: 3px dashed #ccc;
  background-color: hsla(0,0%,100%,.25);
  height: 300px;
  overflow: auto;
}

#form_objects {
  display: block;
  padding: 0;
  height: 585px;
  width: 224px;
  margin-bottom: 2px;
  overflow: auto;
}

#form_element_toggle {
  display: block;
  height: 40px;
  line-height: 40px;
  background: #f15239;
  font-size: 14px;
  color: #FFF;
  text-align: center;
}

.frmb-control {
  overflow: auto;
}

#form_objects .frmb-control li {
  height: 30px;
  padding-top: 5px;
}

.form-wrap.form-builder .form-actions {
  margin: 4px;
}

.form-wrap.form-builder .btn {
  border-radius: 6px;
  padding-left: 18px;
  padding-right: 18px;
  color: #FFF;
  margin-left: 2px;
  margin-right: 2px
}

.form-builder-dialog {
  overflow: auto;
}

.form-builder-dialog.data-dialog {
  width: 800px;
}
}